body {width: 1200px;* {width: 600px;  margin: 0 auto; text-align: center;}
    h1 {border: 1px solid #222; background: aquamarine;}
    p {border: 1px solid #222; background: aquamarine;}
    ul {border: 1px solid #222; background: aquamarine;
        li {
            
        }
    }
}